@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Vollkorn;
  src: url(../fonts/Vollkorn-Regular.ttf);
}

@font-face {
  font-family: Yesteryear;
  src: url(../fonts/Yesteryear-Regular.ttf);
}

dl,
ol,
p,
ul {
  margin-bottom: 0.5rem;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: Vollkorn;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 540px) {
  html {
    font-size: 12px;
  }
}

.c-mongoose {
  color: #bf9e7b;
}

h1 {
  font-family: Yesteryear;
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-family: Yesteryear;
  font-size: 3rem;
  font-weight: 400;
  color: #bf9e7b;
}

h3 {
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #bf9e7b;
  text-align: center;
}

h4 {
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

h5 {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

a {
  display: block;
  text-decoration: none;
}

p {
  font-family: Raleway;
  font-size: 1em;
}

.p-lite {
  font-family: Vollkorn;
  font-size: 0.9em;
}

.big-price {
  font-family: Raleway;
  font-size: 2.3rem;
  color: #bf9e7b;
}

.btn {
  padding: 1rem 3rem;
  background: #bf9e7b;
  background-color: #bf9e7b;
  color: #141723;
  border-radius: initial;
  font-family: Raleway;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}

.btn:hover {
  background: none;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #bf9e7b;
  box-sizing: border-box;
}

.btn-transparent {
  background: none;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #bf9e7b;
  box-sizing: border-box;
}

.btn-transparent:hover {
  background-color: #bf9e7b;
  color: #141723;
}

.btn-slider {
  background: none;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1.5rem;
}

@media only screen and (max-width: 720px) {
  .btn-slider {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem 1rem;
  }
}

.btn-slider:hover {
  color: #bf9e7b;
  border: 1px solid #bf9e7b;
}

.btn-small {
  font-family: Raleway;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  margin: 0 10px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #bf9e7b;
  text-decoration: none;
  display: inline-block;
}

.btn-small:hover {
  background-color: #bf9e7b;
  color: #141723;
  text-decoration: none;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.main-nav {
  margin-bottom: -60px;
}

@media only screen and (max-width: 720px) {
  .main-nav {
    margin-bottom: -56px;
  }
}

@media only screen and (max-width: 540px) {
  .main-nav {
    margin-bottom: -50px;
  }
}

.main-nav__wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.main-nav__ul {
  margin-bottom: 0;
  padding-left: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media only screen and (max-width: 540px) {
  .main-nav__ul {
    display: block;
    width: 100%;
    min-height: 320px;
    padding-top: 50px;
    margin-left: -15px;
    visibility: hidden;
    position: absolute;
    top: -350px;
    background: url(../img/menu_bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: 0px 2px 4px #000000;
    z-index: -1;
  }
}

.main-nav__logo {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.main-nav li {
  display: inline-block;
  text-decoration: none;
}

@media only screen and (max-width: 540px) {
  .main-nav li {
    display: block;
  }
}

.main-nav__link {
  padding: 1rem;
  font-family: Raleway;
  font-size: 1rem;
  color: #ffffff;
}

@media only screen and (max-width: 960px) {
  .main-nav__link {
    padding: 1rem 0.5rem;
  }
}

@media only screen and (max-width: 540px) {
  .main-nav__link {
    padding: 0 0.5rem;
    text-align: center;
    font-family: Yesteryear;
    font-size: 3rem;
    color: #bf9e7b;
    text-shadow: 0 0 2px #000000;
    line-height: 1.2;
  }
}

.main-nav__link:hover,
.main-nav__link-active {
  color: #bf9e7b;
  text-decoration: none;
  position: relative;
}

.main-nav__link:hover::after,
.main-nav__link-active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #bf9e7b;
  position: absolute;
  bottom: 10px;
  left: 0;
  box-shadow: 0 0 2px #000000;
}

@media only screen and (max-width: 540px) {

  .main-nav__link:hover::after,
  .main-nav__link-active::after {
    bottom: 2px;
  }
}

.main-nav__logo-link h2 {
  color: #ffffff;
  font-size: 36px;
  padding: 8px 1.3rem;
}

@media only screen and (max-width: 720px) {
  .main-nav__logo-link h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 540px) {
  .main-nav__logo-link h2 {
    font-size: 28px;
  }
}

.main-nav__logo-link:hover {
  text-decoration: none;
}

.main-nav__logo-link:hover h2 {
  color: #bf9e7b;
}

#main-nav-call {
  display: none;
}

#main-nav-call:checked~.main-nav__ul {
  visibility: visible;
  top: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#main-nav-call:checked+.main-nav-burger::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#main-nav-call:checked+.main-nav-burger span {
  display: none;
}

#main-nav-call:checked+.main-nav-burger::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-nav-burger {
  display: block;
  height: 30px;
  width: 30px;
  position: relative;
  visibility: hidden;
  display: none;
  margin-bottom: 0;
}

@media only screen and (max-width: 540px) {
  .main-nav-burger {
    display: block;
    visibility: visible;
  }
}

.main-nav-burger::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  top: 5px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-nav-burger::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: 5px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-nav-burger span {
  width: 30px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 14px;
}

/* 
.slider-header {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 320px;
  background-color: #141723;
  background: url(../img/header-slider/header-slider_bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.slider-header .hidden {
  display: none;
}

.slider-header img {
  width: 100vw;
  height: auto;
  min-height: 320px;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-header__text-container {
  position: relative;
}

.slider-header__text {
  position: absolute;
  bottom: 0;
  padding-right: 15px;
  text-shadow: 0 0 2px #000000;
}

@media only screen and (max-width: 1200px) {
  .slider-header__text h2 {
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 960px) {
  .slider-header__text h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 720px) {
  .slider-header__text h2 {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 540px) {
  .slider-header__text h2 {
    font-size: 2rem;
  }
}

.slider-header .slick-next {
  right: 10px;
  width: 30px;
  height: 30px;
}

.slider-header .slick-next::before {
  opacity: .2;
  font-size: 30px;
}

@media only screen and (max-width: 480px) {
  .slider-header .slick-next {
    width: 20px;
    height: 20px;
  }

  .slider-header .slick-next::before {
    font-size: 20px;
  }
}

.slider-header .slick-prev {
  left: 10px;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.slider-header .slick-prev::before {
  opacity: .2;
  font-size: 30px;
}

@media only screen and (max-width: 480px) {
  .slider-header .slick-prev {
    width: 20px;
    height: 20px;
  }

  .slider-header .slick-prev::before {
    font-size: 20px;
  }
}

.slider-header .slick-slide:focus {
  outline: none;
}

.slider-header .slick-list {
  min-height: 320px;
} */

.about h2 {
  text-align: center;
}

.about__text {
  padding: 0 1rem;
  box-sizing: border-box;
}

.about__contacts {
  margin-top: 10px;
  background-color: #141723;
  color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}

@media (max-width: 575px) {
  .about__contacts {
    margin: 15px 15px 0;
  }
}

.about__contacts h4 {
  color: #bf9e7b;
}

.about__contacts-open p {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  align-items: baseline;
}

.about__contacts-open p span {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border-bottom: 1px dotted #ffffff;
  margin: 0 5px;
}

.best-price {
  background-color: #4c4d4f;
}

.best-price h2 {
  text-align: center;
}

.best-price p {
  margin-bottom: 25px;
  color: #ffffff;
}

.price-slider__slide {
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}

.price-slider__slide img {
  width: 100%;
  height: auto;
}

.price-slider__slide:hover .btn-small {
  visibility: visible;
  -webkit-animation: btn-scale 1s infinite;
  animation: btn-scale 1s infinite;
}

.price-slider .btn-small {
  bottom: 35px;
  margin: 0;
  position: relative;
  visibility: hidden;
  background-color: #bf9e7b;
  color: #141723;
}

.price-slider__text-container {
  background-color: #141723;
  text-align: center;
  padding: 5px;
  margin-top: -30px;
  min-height: 110px;
}

@media only screen and (max-width: 720px) {
  .price-slider__text-container {
    margin-top: -25px;
    min-height: 103px;
  }
}

@media only screen and (max-width: 540px) {
  .price-slider__text-container {
    margin-top: -25px;
    min-height: 90px;
  }
}

.price-slider__text-container h4,
.price-slider__text-container p {
  font-family: Vollkorn;
  color: #bf9e7b;
  margin-bottom: 0rem;
}

.price-slider .slick-next,
.price-slider .slick-prev {
  top: 90px;
}

@media only screen and (max-width: 768px) {
  .price-slider .slick-next {
    display: none !important;
  }
}

@media only screen and (max-width: 580px) {
  .price-slider .slick-next {
    right: -13px;
  }
}

.price-slider .slick-next::before {
  color: #141723;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .price-slider .slick-prev {
    display: none !important;
  }
}

@media only screen and (max-width: 580px) {
  .price-slider .slick-prev {
    left: -13px;
  }
}

.price-slider .slick-prev::before {
  color: #141723;
  opacity: 0.5;
}

.price-slider .slick-dots {
  bottom: -47px;
}

.price-slider .slick-dots li button::before {
  font-size: 10px;
}

.price-slider .slick-dots .slick-active button:before {
  opacity: 1;
  color: #bf9e7b;
}

.price-slider .slick-dots .slick-list.draggable {
  min-height: 148px;
  overflow: hidden;
}

@-webkit-keyframes btn-scale {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes btn-scale {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.our-menu {
  min-height: 500px;
  background-color: #141723;
  color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}

.our-menu__list {
  padding-left: 0;
  padding-top: 15px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.our-menu__category-title {
  list-style: none;
  display: inline-block;
  border: 1px solid #bf9e7b;
  margin: 0 7px 15px 7px;
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #bf9e7b;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
}

@media (max-width: 480px) {
  .our-menu__category-title {
    margin: 0 7px 10px 7px;
  }
}

.our-menu__category-title.active {
  opacity: 1;
}

.our-menu__category-title::before,
.our-menu__category-title::after {
  content: "";
  width: 25px;
  height: 0.8rem;
  border-top: 1px dotted #bf9e7b;
  display: inline-block;
  margin: 0 5px;
}

.our-menu__category-wrapper {
  display: grid;
  grid-gap: 10px 40px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .our-menu__category-wrapper {
    grid-template-columns: 1fr;
  }
}

.our-menu .food__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.our-menu .food__info {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.our-menu .food__sub-title {
  overflow: hidden;
}

.our-menu .food__sub-title span {
  display: inline;
  border-bottom: 1px dotted #ffffff;
  padding-right: 100%;
  margin-left: 5px;
  position: relative;
  bottom: 8px;
}

.our-menu .food__price {
  padding-left: 30px;
  padding-bottom: 15px;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #bf9e7b;
  -webkit-box-flex: 0;
  flex-grow: 0;
}

@media (max-width: 991px) {
  .our-menu .food__price {
    padding-left: 15px;
  }
}

.our-menu h2 {
  text-align: center;
}

.our-menu .btn {
  display: block;
  margin: 2rem auto 0;
}

.reservations {
  background-color: #4c4d4f;
}

.reservations .form-section-wrapper {
  text-align: center;
}

.reservations label {
  vertical-align: bottom;
  margin: 5px;
}

.reservations h2 {
  text-align: center;
}

.reservations span {
  font-size: 1rem;
  font-family: Raleway;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.reservations p {
  margin-bottom: 25px;
  color: #ffffff;
}

.reservations .btn {
  display: block;
  margin: 2rem auto 0;
}

.reservations input,
.reservations select {
  display: block;
  width: 100%;
  border: none;
  padding: 5px 10px;
  font-size: 1rem;
  color: #141723;
  box-sizing: border-box;
}

@media (max-width: 480px) {

  .reservations input,
  .reservations select {
    padding: 5px;
  }
}

.reservations .form-first-row {
  display: inline-block;
}

@media (max-width: 480px) {
  .reservations .form-first-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .reservations .form-first-row label {
    width: 46%;
  }
}

.reservations .form-second-row {
  display: inline-block;
}

.reservations .book-form__time {
  min-width: 60px;
}

.collage h2 {
  text-align: center;
}

.collage p {
  margin-bottom: 25px;
}

.collage .btn {
  margin: 2rem auto 0;
}

.collage .popup-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.collage .popup-gallery a:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

@media (max-width: 991px) {
  .collage .popup-gallery {
    grid-gap: 5px;
  }
}

.collage .popup-gallery img {
  width: 100%;
  height: auto;
}

.swipe-all {
  display: block;
  margin: 15px auto 0;
}

.swipe-all:hover {
  color: inherit;
}

.main-footer {
  background: #141723;
  color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}

.main-footer .btn-transparent {
  color: #ffffff;
}

.main-footer .btn-transparent:hover {
  background-color: #bf9e7b;
  color: #141723;
}

.main-footer .row>div,
.main-footer .row>a {
  margin-bottom: 25px;
}

@media only screen and (max-width: 991px) {
  .main-footer .footer-col-2 {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

.main-footer .social-links {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-footer .social-links a {
  margin: 0;
  padding: 5px 5px 1px;
  width: 40px;
  box-sizing: border-box;
}

@media (max-width: 340px) {
  .main-footer .social-links a {
    width: 35px;
  }
}

.main-footer .social-links a svg {
  width: 100%;
  height: auto;
}

#test-modal iframe {
  width: 100%;
  height: calc(100vh - 60px);
  max-height: 800px;
}

#test-modal .popup-modal-dismiss {
  font-family: Raleway;
  padding: 0.2rem 0.5rem;
  font-size: 1.4rem;
  margin: 10px 0 5px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #bf9e7b;
  text-decoration: none;
  display: inline-block;
  float: right;
  background-color: #0d0e10;
}

.wrapper {
  min-width: 320px;
  scroll-behavior: smooth;
}

section:not(.slider-header) {
  padding: 40px 0 50px;
  overflow: hidden;
}

@media (max-width: 575px) {
  section:not(.slider-header) {
    padding: 20px 0 35px;
  }
}


.slider-header .hidden {
  display: none;
}

#slider-header .wpsisac-slider-overlay {
  background: transparent;
}

#slider-header .wpsisac-slider-content {
  top: unset;
  bottom: 0;
  text-align: left;
}

#slider-header h5,
#slider-header p {
  text-align: left;
}

/* 
#slider-header h2 {
  color: #bf9e7b;
} */